body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f9;
  color: #333;
  text-align: center;
  padding: 50px;
}

h1 {
  color: #0066cc;
}

button {
  background-color: #0066cc;
  color: white;
  border: none;
  padding: 10px 20px;
  margin-top: 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #004999;
}

.image{
  width: 300px;
  margin-top: 30px;
}

.message{
  margin: 10px;
}
